.content {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    font-size: 70px;
    padding: 100px 0px 0px;
    font-weight: normal;
    color: #707070;
    
}

.large-button {
    border: hidden;
    padding: 10px 60px;
    border-radius: 20px;
    font-family: inherit;
    color: white;
    background-color: #5D5D5D;
    opacity: 39%;
}

.large-button:hover {
    cursor: pointer;
}