.greeting-container {
    margin-top: 100px;
    color: #707070;
}

.greeting-container h1 {
    font-weight: normal;
    font-size: 2em;
}

.greeting-container h2 {
    font-weight: normal;
    font-size: 1em;
}

.input-container {
    margin: 5px 0px;
    padding: 5px;
    text-align: center;
}

.input-container .input {
    display: block;
    margin: 15px auto;
    font-size: 1em;
    font-weight: lighter;
    text-align: center;
    border: none;
    border-bottom: .5px solid #707070;
}

.account {
    font-size: .75em;
    font-weight: lighter;
    margin-top: -5px;
}

.account p {
    display: inline;
}

.account a {
    font-size: inherit;
}

.account a:link {
    text-decoration: none;
}

.account a:visited {
    text-decoration: none;
    color: purple;
}

.account a:hover {
    text-decoration: underline;
    color: black;
}