
.nav-bar {
    background-color: gray;
    overflow: hidden;
    color: white;
    display: block;
    width: 100%;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-bar a {
    float: left;
    text-align: center;
    padding: 8px 4px;
    color: white;
    font-size: 17px;
}

.nav-bar a:hover {
    background-color: #dddddd;
    color: black;
}

.nav-bar .search-container {
    float: right;
}
.search-container input[type=text] {
    padding: 8px 16px;
    border-radius: 25px;
    margin-top: 10px;
    border: none;
    width: 200px;
}
.search-container button {
    float: right;
    margin-top: 12px;
    background-color: gray;
    border: none;
    color: white;
    font-size: 17px;
}

.search-container button:hover {
    cursor: pointer;
}

